.goToSignupPage {
    color: rgb(12, 39, 192);
    cursor: pointer;
    font-size: 17px;
}
.resetPass-part{
    margin-right: 5px;
    padding: 4px;
}

.epError {
    color: red;
    font-size: 22px;
}

.signup-contain {
    height: 100vh;
    margin-top: 120px;
    text-align: start;

}

.my-signup-form {
    background-color: rgba(172, 81, 6, 0.767) !important;
    padding: 12px;
    border-radius: 12px;
}
.loginBtn {
    background-color: rgba(211, 101, 11, 0.767) !important;
    color: white;
}