.product-card{
    /* display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column; */


    
}
.card{
 background-color: rgba(235, 235, 235, 0.596);
 border: 1px solid rgb(114, 63, 4);
 margin: 5px;
 padding: 5px;
height: 520px
}

/* .card img{

    width: 320px;

} */