.ki{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: bisque;
        height: 100vh;
}

.product-card{
    margin: 20px;
}