.myItem{
/* background-color: chocolate; */
border:1px solid red;
    padding: 5px;
    height: 500px;
    padding:12px
}


.name{
    font-size: 19px;
}
.myItemBtn{
        background-color: rgb(175, 91, 13) !important;
}