.myBlog{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


}

.blogPart {
    margin-top: 580px;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 200px;

}

.QA {
    text-align: start;

}